    </main>
    <footer class="footer mt-auto py-3 bg-tertiary">
        <div class="container text-center">
            <span>
                Copyright &copy; 2021 Star Gourmet - All Rights Reserved.
            </span>
        </div>
    </footer>
</body>
</html>