<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Star Gourmet | <%= title %></title>
</head>
<body>
    <nav>
        <div class="nav-wrapper teal">
            <!-- icon here -->
            <!-- link to poll main page here -->
            <a href="/" class="left">Star Gourmet Monthly Poll</a>
            <!-- placeholder link to past contests here -->
            <ul class="right">
                <!-- link to my recipes here -->
                <li>
                    <% if (user) { %>
                        <a href="/recipes">My Recipes</a>
                    <% } %>
                </li>
                <!-- link to login here -->
                <li>
                    <% if (user) { %>
                      <a href="/logout">
                        <i class="material-icons left">trending_flat</i>Logout
                      </a>
                    <% } else { %>
                      <a href="/auth/google">
                        <i class="material-icons left">vpn_key</i>Login with Google
                      </a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h1><%= header %></h1>
    </header>
    <main>