:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: "Muli", Sans-Serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

h1,
h2,
h3 {
  font-family: "Merriweather Sans", Sans-Serif;
}

:root {
  --main-color: #af9debd3;
  --secondary-color: #75eb7c;
  --tertiary-color: #ebae78cb;
  --main-color-dark: #57419e;
  --secondary-color-dark: #6c9e6e;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.secondary-color {
  background-color: var(--main-color);
}
.tertiary-color {
  background-color: var(--main-color);
}
.main-color-dark {
  background-color: var(--main-color);
}
.tertiary-color-dark {
  background-color: var(--main-color);
}

.btn-custom-main {
  color: #000;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-custom-main:hover {
  color: #fff;
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark);
}

.btn-custom-main:focus {
  color: #fff;
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark);
  box-shadow: 0 0 0 0.25rem var(--main-color);
}

.btn-custom-secondary {
  color: #000;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-custom-secondary:hover {
  color: #fff;
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.btn-custom-secondary:focus {
  color: #fff;
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
  box-shadow: 0 0 0 0.25rem var(--secondary-color);
}

.recipe-img {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
}

.page-link {
  color: var(--main-color-dark);
}

.page-link:hover {
  color: var(--main-color-dark);
}

.page-link:focus {
  color: var(--main-color-dark);
  box-shadow: 0 0 0 0.25rem var(--main-color);
}

.page-item.active .page-link {
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark);
}
